#sliding-popup {
  display: block;
  margin: 0;
  padding: 0px;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

.sliding-popup-top {
  background-color: #f2f2f2;
  position: relative;
}

#sliding-popup .popup-content {
  background-color: transparent;
  border: 0 none;
  display: inline-block;
  margin: 5px 0 0 0;
  padding: 0;
  max-width: 960px;
  width: 74%;
}

#sliding-popup .popup-content #popup-buttons {
  float: right;
  margin: 17px 0 0;
  width: 39.5%;
  text-align: left;
}

#sliding-popup .popup-content #popup-buttons input[type="button"]{
  display: inline;
  vertical-align: middle;
  overflow: visible;
  cursor: pointer;
  background: none repeat scroll 0 0 #ff7200;
  border-radius: 4px;
  border: 1px solid #E66700;
  display: inline-block;
  color: #fff;
  font-family: "Arial Black",Gadget,sans-serif;
  padding: 3px 15px;
}

#sliding-popup .popup-content #popup-buttons input[type="button"]:hover {
  background-color: #ff9900;
}

#sliding-popup .popup-content #popup-text {
  float: left;
  margin: 10px 0;
  text-align: left;
  width: 55%;
  font: 1em NewsGothicBT-Bold,"Arial Narrow",Helvetica,Arial,sans-serif;
  color: #2a2a2a;
  line-height: inherit;
  padding-left: 30px;
  background: url(../images/warn_icon_cookie.png) no-repeat left 2px;
  letter-spacing: 0.1mm;
}

@media all and (max-width: 480px) {
  #sliding-popup .popup-content #popup-text {
    background: none;
    padding-left: 0;
  }
}


@media screen and (max-width: 750px) {
  #sliding-popup .popup-content {
    width: 95%;
  }

  #sliding-popup .popup-content #popup-text {
   width: 80%;
   float: left;
  }

  #sliding-popup .popup-content #popup-buttons {
    width: auto;
  }
}

#sliding-popup .popup-content #popup-text .orange-text {
  color: #ff7200
}

#sliding-popup .popup-content #popup-text a,
#sliding-popup .popup-content #popup-text a:visited {
  text-decoration: underline;
}
